sounds/castle_guard_sounds.aup3
sounds/priest_hit.aup3
sounds/priest_hit.mp3
sounds/priest_hit.txt
sounds/priest_sayings.aup3
sounds/priest_sayings.mp3
sounds/priest_sayings.txt
sounds/priest_sounds_seeing_player_03.ogg
sounds/priest_sounds_seeing_player_10.ogg
models/priest1.xcf
index.html
foobar/
textures/jc_special_stadium_seat_colors.xcf
textures/priest_blue_overlay.xcf
textures/priest_egg.xcf
textures/new.xcf
